<!DOCTYPE HTML>
<html>
	<head>
		<meta>
		<title>edit</title>

			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
	</head>
<body>
	<div class='container'>
		<div class='col-md-6'>
			{% for user in users: %}
			<h1> Edit User {{user['id']}} </h1> 
			

			<form action="/update/{{user['id']}}" method = "post">
				First Name: <input type="text" name="first_name" value="{{user['first_name']}}"> 
				<br>
				Last Name: <input type="text" id="large" name="last_name" value="{{user['last_name']}}">
				<br>
				Email: <input type="email" name="email" value="{{user['email']}}">
				<br>
				<input type="hidden" name="id" value="{{user['id']}}">
				<button type="submit">Update </submit>
			</form>
		</div>
	
		<p><a href="/">Back</a></p>
		<a href="/show/{{user['id']}}"> Show </a>
		{% endfor %}
	</div>
</body>
</html>